body {
    background-image: url('../images/houndstooth-pattern.png');
    background-repeat: repeat;   
    overflow-x: hidden;
}
a {
    cursor: pointer;
}
.navbar {
    padding-left: 0;
}
.logo  {
    display: inline;
    font-family: 'Fascinate', cursive;
    color: teal !important;  
    font-size: 1.2rem;
    text-transform: uppercase;
    
}
.body-content {
 background: #f3f3f3;
}
.gems {
    min-height: 115px;
}
.gems img {
    margin: 20px;
    cursor: pointer;
}
.imgClick {
   height: 65px;
   margin: 20px 25px !important;
}
.gemImgCol {
    padding: 0;
}
.instructions {
    padding: 1.5rem;
    font-size: 1.1rem;
}
.instructLink {
    float: right;
    color: teal;
    margin-top: 20px;
    margin-right: 40px;
}
.collected {
    height: 30px;
    margin: 5px;
}
.collectedCrystals {
    padding: 1rem;    
    background: #fff;
    min-height: 339px;
    border: 1px solid teal;
    border-radius: 10px;  
}
.collectedCrystals h3 {
    font-style: italic;
    display: inline;
    color: teal;
}
.collectedCrystals label {
    float: right;
    margin: 8px 8px 0 0;
    color: #A82281;
}
.randomNum {
    padding-top: .4rem;
}
.randomNum, .totalScore {
    background: teal;
    font-size: 3rem;
    color: #fff;   
}
.scoreboard {
    background: #A82281;
    padding: 1rem;
    color: #fff;
    font-weight: bold;
}
.scoreboard span {
    float: right;
}
.totalScore {
    margin: 0 0 20px 0;
    padding: 1rem 2rem;
}
.totalLabel {
    background: #efc902;
    font-weight: bold;
}
.footer {
    background: #f3f3f3;
    color: teal;
    padding: 2rem;
    text-align: center;
    border-bottom: 5px solid #d6d6d5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.heart {
    color: #A82281;
    font-size: 1.25rem;
}